html {
    box-sizing:border-box;
    font-family: sans-serif;
    height: 100%;
}

body {
    margin:0 auto;
    height: 100%;
    background-color: #F8F8F8;
}

footer,header {
    clear:both
}

.menu {
    background-color: #302040;
    color: #fff;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#search-area {
    width: 80%;
    margin: 0 auto;
}

#omnisearch {
    font-size: larger;
    width: 100%;
}

.view-button {
    display: inline-block;
    padding-left: 1em;
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}

a:link, a:visited, a:active {
    color: #fff;
    text-decoration: none
}

footer a:link {
    color: #000
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    padding-top: 5em;
    padding-bottom: 5em;
}

.nsrEntry {
    margin:40px auto;
    max-width:950px;
    padding-left: 0.7em;
    padding-top: 1em;
    margin-top: 1em;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 82px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 1px solid #474747;
    colour: 444;
}

.nsrEntry .year {
    font-weight: bold;
}

.nsrEntry .authors {
    font-size: 11pt;
}

.nsrEntry .score {
    font-weight: bold;
    font-size: 14pt;
    position: absolute;
    right: 30px;
}

.nsrEntry .title {
    font-size: 14pt;
    padding-left: 10px;
    font-family: Serif;
    font-style: italic;
}

.nsrEntry .selectors {
    font-size: 11pt;
}
