# Node
node_modules
node_output.log
npm-debug.log

# Linux
*.swp
*.swo

# Mac
.DS_Store
Icon
._*
.Spotlight-V100

# SublimeText
/*.sublime-project
*.sublime-workspace
*.sublime-project

# IntelliJ
.idea/*
nulam.iml

# LaTeX build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

# mastersAPSC Specifc
/data
/papers
annotatedBibliography/
literatureReview/
