{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" id="billboard">
        <h1>{{ header }}</h1>
        <p>This is a very early exploration of the Nuclear Science References database.</p>
    </div>

    <div id="charts" class="container">
        <h3>Database Entries by Year</h3>
        <p>The NSR database has papers from 1896 to 2014.</p>
        <div class="row">
            <svg id="yearly"></svg>
        </div>

        <h3>1970s Entries by type</h3>
        <p>A more detailed view of the database entries for the 70s</p>
        <div class="row">
            <svg id="yearlyMulti"></svg>
        </div>

        <h3>NSR Document Types</h3>
        <p>The NSR database is made up of journal articles, reports, conference papers, thesis, private communications, preprints, and books.</p>
        <div class="row">
            <svg id="doctypes2" class="col-md-6"></svg>
            <svg id="doctypes" class="col-md-6"></svg>
        </div>

        <h3>Prolific Authors</h3>
        <p>Each segment of the below pie charts represents an author's contributions in a given period.</p>
        <div id="prolific" class="row">
            <div class="col-md-4">
              <p>1950 - 1960</p>
              <svg id="prolific50"></svg>
            </div>
            <div class="col-md-4">
              <p>1960 - 1970</p>
              <svg id="prolific60"></svg>
            </div>
            <div class="col-md-4">
              <p>1970 - 1980</p>
              <svg id="prolific70"></svg>
            </div>
        </div>

    </div>
{% endblock %}
